<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iCommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.CreationClient</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/Users/wallouf/Documents/DEV/fileTemp/</param-value> 
		</init-param>
		<multipart-config>
			<location>/Users/wallouf/Documents/DEV/fileTemp</location>
			<max-file-size>2097152</max-file-size> <!-- 2 Mo -->
			<max-request-size>5242880</max-request-size> <!-- 5 x 1 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreationCommande</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.CreationCommande</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/Users/wallouf/Documents/DEV/fileTemp/</param-value> 
		</init-param>
		<multipart-config>
			<location>/Users/wallouf/Documents/DEV/fileTemp</location>
			<max-file-size>2097152</max-file-size> <!-- 2 Mo -->
			<max-request-size>5242880</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationCommande</servlet-name>
    <url-pattern>/creationCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListerCommande</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.ListerCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerCommande</servlet-name>
    <url-pattern>/listerCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListerClient</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.ListerClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerClient</servlet-name>
    <url-pattern>/listerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerClient</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.SupprimerClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerClient</servlet-name>
    <url-pattern>/supprimerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerCommande</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.SupprimerCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerCommande</servlet-name>
    <url-pattern>/supprimerCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.Download</servlet-class>
	<init-param>
		<param-name>chemin</param-name> 
		<param-value>/Users/wallouf/Documents/DEV/fileTemp/</param-value> 
	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/fichiers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>com.wallouf.icommerce.servlets.ShowImage</servlet-class>
	<init-param>
		<param-name>chemin</param-name> 
		<param-value>/Users/wallouf/Documents/DEV/fileTemp/</param-value> 
	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>